html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;	
  box-sizing: inherit;
}

.color {
	background-image: 
		linear-gradient(
			to right,
			rgb(112, 9, 173),
			rgb(173, 9, 113),
			rgb(112, 9, 173)

			);
}

.band-image {
	display: flex;
	margin-top: 1em;
}

.cover-image {
	width: 30%;
	height: 30em;
	margin-left: 2.25em;
	
}

.cover-image img {
	width: 100%;
	height: 100%;
}

.most-popular {
	width: 30%;
	margin-left: 2.25em;
	
	
}

.most-popular li {
	list-style-type: none;
}

.tour-dates {
	width: 30%;
	margin-left: 2.25em;
	
	
}

.tour-dates li {
	list-style-type: none;
}

.related-artists {
	width: 90%;
	
	height: 15em;
	margin: 1em auto;
}

form {
	margin-left: 37em;
	padding-top: 1em;
}

#different-artist  li {
	display: inline;
	width: 20em;
	padding: 2em;
}

.small-img {
	height: 5em;
	width: 5em;
}

.hidden {
	display: none;
}

.intro-questions {
	width: 90%;
	margin: 0 auto;
	display: flex;
	padding-top: 5em;
}

.question {
	width: 25%;
	height: 20em;
	margin: 0 auto;

}

.start-button {
	width: 33%;
	margin: 0 auto;
	padding: 5em 0 0 7em;
}

.intro-button {
	width: 60%;
	height: 3em;
	border-radius: 10em;
	background-color: rgb(173, 9, 173);
}



